@import 'config';


*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Cairo', sans-serif;
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: $dark-color;
}

ul{
    list-style: none;
}

h2, h3, h4{
    text-transform: uppercase;
}

img{
    width: 100%;
}